<!-- Restaurant Menu Section -->
<div id="restaurant-menu" ng-init="getDishes()">
  <div class="container">
    <div class="section-title text-center">
      <h2>Menu</h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section" ng-repeat="dish in dishes">
          <h2 class="menu-section-title">{{dish.type}}</h2>
          <div class="menu-item">
            <div class="menu-item-name">{{dish.dishName}}</div>
            <div class="menu-item-price">{{dish.Price}} </div>
            <div class="menu-item-description"> {{dish.description}} </div>
          </div>
        </div>
      </div>
      </div>
    </div>
</div>